<div class="col-md-3 col-xs-12 widget widget_tally_box" ng-controller="resourceCtrl">
    <div class="x_panel ui-ribbon-container fixed_height_390">
        <div class="row">
            <div class="header-label">
                TEA TIME {{currentState}}
            </div>
        </div>

        <div class="agent-widget-body">
            <div class="row">
                <div class="col-lg-4 text-center">
                    <div class="agent-opt">
                        <i class="fa fa-cutlery"></i>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="agent-opt">
                        <i class="fa fa-coffee"></i>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="agent-opt">
                        <i class="fa fa-child"></i>
                    </div>
                </div>

                <div class="col-lg-4 text-center">
                    <div class="agent-opt">
                        <i class="fa fa-briefcase"></i>
                    </div>
                </div>

                <div class="col-lg-4 text-center">
                    <div class="agent-opt">
                        <i class="fa fa-hand-rock-o"></i>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="agent-opt">
                        <i class="fa fa-map-pin"></i>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="agent-opt">
                        <i class="fa fa-check"></i>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>
